wsdl/Workflow.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/Workflow" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Workflow"
	targetNamespace="http://www.example.org/Workflow">
	<wsdl:types>
		<xsd:schema >
			<xsd:import namespace="http://www.example.org/Workflow" schemaLocation="MonitorTypes.xsd"></xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getWorkflowsRequest">
		<wsdl:documentation>request for workflows available
		</wsdl:documentation>
		<wsdl:part element="tns:getWorkflows" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getWorkflowsResponse">
		<wsdl:documentation>return available workflows</wsdl:documentation>
		<wsdl:part element="tns:getWorkflowsResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getProcessesRequest">
		<wsdl:documentation>request for processes available
		</wsdl:documentation>
		<wsdl:part name="parameters" element="tns:getProcesses"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getProcessesResponse">
		<wsdl:documentation>return available processes</wsdl:documentation>
		<wsdl:part name="parameters" element="tns:getProcessesResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="getProcessesInfoRequest">
		<wsdl:documentation>get process info before downloading
		</wsdl:documentation>
		<wsdl:part name="parameters" element="tns:getProcessesInfo"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getProcessesInfoResponse">
		<wsdl:documentation>return brief information about processes
		</wsdl:documentation>
		<wsdl:part name="parameters" element="tns:getProcessesInfoResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="getWorkflowNamesRequest">
		<wsdl:documentation>get workflow info before downloading
		</wsdl:documentation>
		<wsdl:part name="parameters" element="tns:getWorkflowNames"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getWorkflowNamesResponse">
		<wsdl:documentation>return brief information about workflows
		</wsdl:documentation>
		<wsdl:part name="parameters" element="tns:getWorkflowNamesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UnknownWorkflow">
		<wsdl:documentation>In case no workflow found with given name
		</wsdl:documentation>
		<wsdl:part name="fault" element="tns:UnknownWorkflow"></wsdl:part>
	</wsdl:message>


	<wsdl:message name="takeActionRequest">
		<wsdl:part name="parameters" element="tns:takeAction"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="takeActionResponse">
		<wsdl:part name="parameters" element="tns:takeActionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="terminateActionRequest">
		<wsdl:part name="parameters" element="tns:terminateAction"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="terminateActionResponse">
		<wsdl:part name="parameters" element="tns:terminateActionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UnknownAction">
		<wsdl:part name="fault" element="tns:UnknownAction"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="UnknownInstance">
		<wsdl:documentation>In case no process found with given parameters
		</wsdl:documentation>
		<wsdl:part name="fault" element="tns:UnknownInstance"></wsdl:part>
	</wsdl:message>



	<wsdl:message name="createProcessRequest">
		<wsdl:documentation>create new process for given workflow
		</wsdl:documentation>
		<wsdl:part name="parameters" element="tns:createProcess"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="createProcessResponse">
		<wsdl:documentation>Response to the process creation, informs status
			of the creation
		</wsdl:documentation>
		<wsdl:part name="parameters" element="tns:createProcessResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="NoAccesRightFault">
		<wsdl:part name="fault" element="tns:NoAccesRightFault"></wsdl:part>
	</wsdl:message>


	<wsdl:portType name="WorkflowOperations">
		<wsdl:documentation>
			This interface is aimed to handle operations on
			workflow.
		</wsdl:documentation>
		<wsdl:operation name="getWorkflows">
			<wsdl:input message="tns:getWorkflowsRequest" />
			<wsdl:output message="tns:getWorkflowsResponse" />
			<wsdl:fault name="UnknownWorkflow" message="tns:UnknownWorkflow"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getWorkflowNames">
			<wsdl:input message="tns:getWorkflowNamesRequest"></wsdl:input>
			<wsdl:output message="tns:getWorkflowNamesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getProcesses">
			<wsdl:input message="tns:getProcessesRequest"></wsdl:input>
			<wsdl:output message="tns:getProcessesResponse"></wsdl:output>
			<wsdl:fault name="UnknownInstance" message="tns:UnknownInstance"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getProcessesInfo">
			<wsdl:input message="tns:getProcessesInfoRequest"></wsdl:input>
			<wsdl:output message="tns:getProcessesInfoResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="ProcessOperations">
		<wsdl:documentation>
			The interface is aimed to handle operations on
			Instances of workflows.
		</wsdl:documentation>
		<wsdl:operation name="takeAction">
			<wsdl:input message="tns:takeActionRequest"></wsdl:input>
			<wsdl:output message="tns:takeActionResponse"></wsdl:output>
			<wsdl:fault name="UnknownInstance" message="tns:UnknownInstance"></wsdl:fault>
			<wsdl:fault name="UnknownAction" message="tns:UnknownAction"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="terminateAction">
			<wsdl:input message="tns:terminateActionRequest"></wsdl:input>
			<wsdl:output message="tns:terminateActionResponse"></wsdl:output>
			<wsdl:fault name="UnknownInstance" message="tns:UnknownInstance"></wsdl:fault>
			<wsdl:fault name="UnknownAction" message="tns:UnknownAction"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createProcess">
			<wsdl:input message="tns:createProcessRequest"></wsdl:input>
			<wsdl:output message="tns:createProcessResponse"></wsdl:output>
			<wsdl:fault name="UnknownInstance" message="tns:UnknownInstance"></wsdl:fault>
			<wsdl:fault name="NoAccesRightFault" message="tns:NoAccesRightFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>



	<wsdl:binding name="WorkflowBindingSOAP" type="tns:WorkflowOperations">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getWorkflows">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="UnknownWorkflow">
				<soap:fault name="UnknownWorkflow" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getWorkflowNames">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getProcesses">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="UnknownInstance">
				<soap:fault use="literal" name="UnknownInstance" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getProcessesInfo">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>


	<wsdl:binding name="ProcessBindingSOAP" type="tns:ProcessOperations">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="takeAction">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="UnknownInstance">
				<soap:fault use="literal" name="UnknownInstance" />
			</wsdl:fault>
			<wsdl:fault name="UnknownAction">
				<soap:fault use="literal" name="UnknownAction" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="terminateAction">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="UnknownInstance">
				<soap:fault use="literal" name="UnknownInstance" />
			</wsdl:fault>
			<wsdl:fault name="UnknownAction">
				<soap:fault use="literal" name="UnknownAction" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createProcess">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="UnknownInstance">
				<soap:fault use="literal" name="UnknownInstance" />
			</wsdl:fault>
			<wsdl:fault name="NoAccesRightFault">
				<soap:fault use="literal" name="NoAccesRightFault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="WorkflowService">
		<wsdl:port name="WorkflowOperationsPort" binding="tns:WorkflowBindingSOAP">
			<soap:address location="http://localhost:7071/wfinfo" />
		</wsdl:port>
	</wsdl:service>

	<wsdl:service name="ProcessService">
		<wsdl:port name="ProcessOperationsPort" binding="tns:ProcessBindingSOAP">
			<soap:address location="http://localhost:7070/wfcontrol" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
